.App {
  text-align: center;
}

.title{
  font-size: 50px;
  color: rgb(219, 182, 18);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

.red{
  background-color: rgb(114, 114, 113);
}